/* Variables */
/* Utilites */
h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.link {
  text-decoration: none;
}

.link:focus-visible {
  outline: none;
}

.list {
  list-style: none;
  fill: #757575;
}

.container {
  width: 1200px;
  /* outline: 2px dotted red; */
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: fixed;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.animated {
  -webkit-transition-property: opacity, color, fill, background-color, border-color, -webkit-transform, -webkit-box-shadow;
  transition-property: opacity, color, fill, background-color, border-color, -webkit-transform, -webkit-box-shadow;
  transition-property: transform, opacity, box-shadow, color, fill, background-color, border-color;
  transition-property: transform, opacity, box-shadow, color, fill, background-color, border-color, -webkit-transform, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input {
  outline: none;
}

.input:hover, .input:focus, .input:not(:placeholder-shown) {
  border: 1px solid #2196f3;
}

/* Sections */
.section {
  padding: 94px 0;
}

.section__title {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  color: #212121;
  text-align: center;
}

/* Buttons */
.button {
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  color: #212121;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background-color: #f5f4fa;
  cursor: pointer;
}

.button:hover, .button:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.button:focus-visible {
  outline: none;
}

.button--filter:hover,
.button--filter:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button--hero {
  color: #ffffff;
  background-color: #2196f3;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
}

.button--footer-submit {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  height: 50px;
  color: #ffffff;
  background-color: #2196f3;
}

.button__icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.button--modal-submit {
  display: block;
  height: 50px;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  background-color: #2196f3;
}

.button--modal-submit:hover, .button--modal-submit:focus {
  background-color: #188ce8;
}

.button--close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: transparent;
}

.button--close:hover .button__close-icon,
.button--close:focus .button__close-icon {
  fill: #2196f3;
}

.button__close-icon {
  width: 11px;
  height: 11px;
}

/* Header */
.header {
  border-bottom: 1px solid #ececec;
}

/* Logo */
.logo {
  color: #000000;
  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
}

.logo__accent {
  color: #2196f3;
}

/* Site nav */
.header__container,
.header__nav,
.header__nav-pages,
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-pages {
  margin-left: 93px;
}

.header__contacts {
  margin-left: auto;
}

.header__nav-item + .header__nav-item {
  margin-left: 50px;
}

.header__contacts-item + .header__contacts-item {
  margin-left: 30px;
}

.header__nav-link,
.header__contacts-link {
  position: relative;
  display: block;
  padding: 32px 0;
  color: #212121;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header__contacts-link {
  color: #757575;
}

.header__nav-link--current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 4px;
}

.header__nav-link:hover,
.header__nav-link:focus,
.header__nav-link--current,
.header__contacts-link:hover,
.header__contacts-link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.header__contacts-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__contacts-icon {
  margin-right: 10px;
}

/* Hero */
.section--hero {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  text-align: center;
}

.hero-title {
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Features */
.features {
  padding-bottom: 0;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features__icon-wrap {
  padding: 25px 100px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__title {
  margin-bottom: 10px;
  color: #212121;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.14;
}

.features__description {
  width: 270px;
}

/* Occupation */
.occupation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.occupation__item {
  position: relative;
}

.occupation__item:not(:last-child) {
  margin-right: 30px;
}

.occupation__title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-transform: uppercase;
  padding: 27px 0;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
}

/* Our team */
.section.team {
  background-color: #f5f4fa;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__member-item {
  text-align: center;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__member-item:not(:last-child) {
  margin-right: 30px;
}

.team__member-text {
  padding: 30px;
}

.team__member-title {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team__member-description {
  margin-bottom: 16px;
  color: #757575;
  font-size: 16px;
  line-height: 1.19;
}

.team__socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team__socials-item:not(:last-child) {
  margin-right: 10px;
}

.team__socials-link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.team__socials-link:hover, .team__socials-link:focus {
  background-color: #2196f3;
}

.team__socials-icon {
  width: 20px;
  height: 20px;
  fill: #757575;
}

.team__socials-link:hover .team__socials-icon,
.team__socials-link:focus .team__socials-icon {
  fill: #ffffff;
}

/* Customers */
.customers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.customers__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.customers__item:not(:last-child) {
  margin-right: 30px;
}

.customers__item:hover, .customers__item:focus {
  border-color: #2196f3;
  cursor: pointer;
}

.customers__icon {
  width: 106px;
  height: 60px;
}

.customers__item:hover .customers__icon,
.customers__item:focus .customers__icon {
  fill: #2196f3;
}

/*Footer*/
.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-socials {
  margin-left: 70px;
}

.footer-socials__item:not(:last-child) {
  margin-right: 10px;
}

.footer-subscribe {
  margin-left: 93px;
}

.footer-subscribe__form {
  position: relative;
  margin-top: 20px;
}

.footer-subscribe__label {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-subscribe__input:focus + .footer-subscribe__label,
.footer-subscribe__input:not(:placeholder-shown) + .footer-subscribe__label {
  color: transparent;
}

.footer-socials__cta,
.footer-subscribe__cta {
  display: block;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 1.14;
}

.footer-subscribe__input {
  display: inline-block;
  width: 358px;
  height: 50px;
  padding: 15px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
}

.footer-socials__link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer-socials__link:hover, .footer-socials__link:focus {
  background-color: #2196f3;
}

.footer-socials__icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.footer-address__list,
.footer-socials__list {
  margin-top: 20px;
}

.footer-address__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address__link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}

.footer-address__link:hover, .footer-address__link:focus {
  color: #2196f3;
}

.logo--footer {
  color: #ffffff;
}

.footer-address__link--map {
  color: #ffffff;
}

/* Portfolio */
/* Filter */
.portfolio__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.portfolio__filter-item:not(:last-child) {
  margin-right: 8px;
}

/* Cards */
.portfolio__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio__cards-item {
  width: calc((100% - 2 * 30px) / 3);
}

.portfolio__cards-img-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  top: 100%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
}

.portfolio__link:hover .portfolio__overlay,
.portfolio__link:focus .portfolio__overlay {
  -webkit-transform: translatey(-100%);
          transform: translatey(-100%);
}

.portfolio__description {
  padding: 24px;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.55;
  font-weight: 400;
}

.portfolio__link:hover,
.portfolio__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__cards-item:not(:nth-of-type(3n)) {
  margin-right: 30px;
}

.portfolio__cards-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio__cards-text {
  padding: 20px 24px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
}

.portfolio__title {
  margin-bottom: 4px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__type {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
}

.portfolio__link {
  display: block;
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.modal__form-name {
  margin-bottom: 4px;
  letter-spacing: 0.01em;
}

.modal__form-label {
  display: block;
  position: relative;
}

.modal__input {
  display: block;
  height: 40px;
  width: 100%;
  margin-bottom: 10px;
  padding: 0 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.modal__input:hover, .modal__input:focus, .modal__input:not(:placeholder-shown) {
  cursor: pointer;
  border-color: #2196f3;
}

.modal__input-icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  width: 18px;
  height: 18px;
  fill: #212121;
}

.modal__input:hover + .modal__input-icon,
.modal__input:focus + .modal__input-icon,
.modal__input:not(:placeholder-shown) + .modal__input-icon {
  fill: #2196f3;
}

.modal__privacy {
  margin: 20px auto 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal__privacy-link {
  color: #2196f3;
  text-decoration: underline;
}

.modal__checkbox {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 3px;
  background-image: url("../images/check.svg");
  background-size: contain;
  background-position: 50% 50%;
}

.modal__checkbox:checked + .modal__checkbox {
  background-color: #2196f3;
  border-color: transparent;
}

.modal__input--comment {
  height: 120px;
  resize: none;
  padding: 12px 16px;
}

.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}
/*# sourceMappingURL=main.css.map */