/* Customers */

.customers__list {
  display: flex;
  flex-wrap: wrap;

  margin: -15px;
}

.customers__item {
  @include grid(15px, 2);

  @include mq(tablet) {
    @include grid(15px, 3);
  }

  @include mq(desktop) {
    @include grid(15px, 6);
  }
  display: flex;
  justify-content: center;
  align-items: center;

  height: 92px;

  fill: $customer-logo;
  border: 1px solid $customer-logo;
  border-radius: 4px;

  &:hover,
  &:focus {
    border-color: $color-accent;
    cursor: pointer;
  }
}

.customers__icon {
  width: 106px;
  height: 60px;

  .customers__item:hover &,
  .customers__item:focus & {
    fill: $color-accent;
  }
}
