/* Header */

.header {
  border-bottom: 1px solid $header-border-color;
}

/* Logo */

.logo {
  color: $color-black;
  font-family: Raleway, cursive;
  font-size: 24px;
  line-height: 1.16;
  @include mq(desktop) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__accent {
  color: $color-accent;
}

/* Site nav */
.header__nav-pages {
  display: none;
  @include mq(tablet) {
    display: flex;
    align-items: center;
  }
}

.header__contacts {
  display: none;
  @include mq(tablet) {
    display: block;
  }

  @include mq(desktop) {
    display: flex;
    align-items: center;
  }
}

.header__container,
.header__nav {
  display: flex;
  align-items: center;

  @include mq(mobile-only) {
    justify-content: space-between;
  }
}

.header__nav-pages {
  @include mq(tablet) {
    margin-left: 88px;
  }

  @include mq(desktop) {
    margin-left: 93px;
  }
}

.header__contacts {
  margin-left: auto;
}

.header__nav-item + .header__nav-item {
  margin-left: 50px;
}

.header__contacts-item + .header__contacts-item {
  @include mq(tablet-only) {
    margin-top: 10px;
  }
  @include mq(desktop) {
    margin-left: 30px;
  }
}

.header__nav-link {
  position: relative;
  display: block;
  padding: 32px 0;

  @include font-style(null, 500, 1.14, 0.02em, $text-color-title);
}

.header__contacts-link {
  position: relative;
  display: block;

  @include mq(desktop) {
    padding: 32px 0;
  }
  @include font-style(null, 500, 1.14, 0.02em, $text-color-main);
}

.header__nav-link--current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;

  background-color: $color-accent;
  border-radius: 4px;
}

.header__nav-link:hover,
.header__nav-link:focus,
.header__nav-link--current,
.header__contacts-link:hover,
.header__contacts-link:focus {
  color: $color-accent;
  fill: $color-accent;
}

.header__contacts-link {
  display: flex;
  align-items: center;
}

.header__contacts-icon {
  margin-right: 10px;
}
