/* Hero */
.section--hero {
  // max-width: $mobile-res;

  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-color: $bg-color-dark;
  background-size: contain;

  background-image: linear-gradient($gradient-color, $gradient-color),
    url('../images/mobile/hero/img.jpg');
  @include mq(retina) {
    background-image: linear-gradient($gradient-color, $gradient-color),
      url('../images/mobile/hero/img@2x.jpg');
  }

  @include mq(tablet) {
    min-width: $tablet-res;
    background-image: linear-gradient($gradient-color, $gradient-color),
      url('../images/tablet/hero/img.jpg');
    @include mq(retina) {
      background-image: linear-gradient($gradient-color, $gradient-color),
        url('../images/tablet/hero/img@2x.jpg');
    }
  }

  @include mq(desktop) {
    min-width: $desktop-res;

    padding-top: 200px;
    padding-bottom: 200px;

    background-image: linear-gradient($gradient-color, $gradient-color),
      url('../images/desktop/hero/img.jpg');
    @include mq(retina) {
      background-image: linear-gradient($gradient-color, $gradient-color),
        url('../images/desktop/hero/img@2x.jpg');
    }
  }

  // @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  //   background-image: url('../images/mobile/hero/img@2x.jpg');
  // }

  // @media screen and (min-width: $tablet-res) {
  //   background-image: linear-gradient($gradient-color, $gradient-color),
  //     url('../images/tablet/hero/img.jpg');
  //   @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  //     background-image: url('../images/tablet/hero/img@2x.jpg');
  //   }
  // }

  // @media screen and (min-width: $desktop-res) {
  // }
}

.hero-title {
  @include font-style(26px, 900, 1.61, null, $color-white);
  margin-bottom: 30px;
  text-transform: uppercase;
}
