/* Sections */

.section {
  padding-top: 60px;
  @include mq(desktop) {
    padding-top: 94px;
  }

  &__title {
    margin-bottom: 30px;
    text-align: center;

    @include font-style(36px, 700, 1.16, null, $text-color-title);

    @include mq(desktop) {
      margin-bottom: 50px;
      @include font-style(28px, 700, 1.18, null, $text-color-title);
    }
  }
}
